.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 96px;
    padding-right: $app-padding-right;
    padding-left: $app-padding-left;
}